.container{
    font-size: larger;
    width: fit-content;
    padding: 40px 30px;
    color: white;
    background-color: red;
    border-radius: 10px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}