<ion-content [fullscreen]="true">
  <div id="main">
    <strong>
      Welcome, <span style="color: rgb(159, 57, 255)">{{name}}</span>
    </strong>
    <div
      style="
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-row-gap: 30px;
      "
    >
      <!-- If this is too big or complicated than use loop -->
      <app-container
        text="Canvas"
        color="white"
        bgColor="#3880ff"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Canvas"
        color="white"
        bgColor="#3880ff"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Canvas"
        color="white"
        bgColor="#3880ff"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Canvas"
        color="white"
        bgColor="#3880ff"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Canvas"
        color="white"
        bgColor="#3880ff"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Canvas"
        color="white"
        bgColor="#3880ff"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Canvas"
        color="white"
        bgColor="#3880ff"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Canvas"
        color="white"
        bgColor="#3880ff"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Canvas"
        color="white"
        bgColor="#3880ff"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Canvas"
        color="white"
        bgColor="#3880ff"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Canvas"
        color="white"
        bgColor="#3880ff"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Canvas"
        color="white"
        bgColor="green"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="FrameWork"
        color="white"
        bgColor="red"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Canvas"
        color="white"
        bgColor="red"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Design"
        color="white"
        bgColor="red"
        (click)="goToHome()"
      ></app-container>
      <app-container
        text="Design"
        color="white"
        bgColor="red"
        (click)="goToHome()"
      ></app-container>
    </div>
  </div>
</ion-content>
